<h1>Welcome to Stack UberFlow</h1>

<%= render "new" %><br>

<h2>All Questions:</h2>
<% @questions.each do |question| %>
  <h2><%= link_to question.title, question %> <%= count_votes_of(question) %> votes </h2>
  <h3>Created: <%= question.created_at %></h3>
<% end %>


